set -euo pipefail

export BW_SESSION=${BW_SESSION:-`bw unlock --raw` }

export MESSAGE="hello"

bw get item bootiful-workshop-demo-key --raw > output
export SUPER_IMPORTANT_PASSWORD=$(cat output | jq -r '.fields[0].value' )

export SPRING_DATASOURCE_PASSWORD=$(cat output | jq -r '.fields[0].value' )

rm output
